<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" th:href="@{/assets/vendor/bootstrap/css/user_verify.css}"/>
  <link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/bootstrap.min.css}"/>
  <title>Cydeo reset Password</title>
</head>
<body>
<div class="user-verify-container p-5">

  <img th:src="@{/images/invalid_link.svg}" height="60" alt="invalid link" class="logo">

  <div class="pt-3">
    <p class="confirmation-message">Invalid Link</p>
  </div>
  <div class="pt-0">
    <p class="confirmation-message">This link has already been used. To reset your password, return to the login page and select
      "Forgot Your Password" to send a new email.</p>
  </div>

  <div class="pt-3">
    <a th:href="@{/login}" class="login-button">Go Back to Login</a>
  </div>
</div>
</body>
</html>