<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/login.css}"/>
<head th:replace="/fragments/head :: head" ></head>
<body>
<div class="splash-container">
    <div class="card">
        <div class="card-body ml-lg-3 mr-lg-3">
            <div class="email-send text-center pb-3 pt-5">
                <img class="logo-img" th:src="@{/images/cydeo-logo.svg}" height="45" alt="logo">
            </div>

            <div class="form-group custom-input-field pt-2">
                <p>Change Your Password</p>
                <div class="custom-input-field text-center pb-3">
                    <span>Enter a new password below to change your password.</span>
                </div>
            </div>

            <form th:action="@{/user/reset-password-confirmation}" method="post">

                <div class="form-group custom-input-field pt-2" th:classappend="${param.error} ? 'error' : ''">
                    <div class="input-container">
                        <input type="password" id="new_password" name="new_password" th:value="${param.new_password}" required spellcheck="false">
                        <label for="new_password">new password</label>
                    </div>
                    <div class="password-toggle">
                        <i id="new-password-toggle-icon" class="far fa-eye-slash"></i>
                    </div>
                </div>


                <div class="form-group custom-input-field pt-2" th:classappend="${param.error} ? 'error' : ''">


                    <div class="input-container">
                        <input type="password" id="re-password" name="re-password" th:value="${param.re_password}" required spellcheck="false">
                        <label for="re-password">Re-enter new password</label>
                    </div>

                    <div class="input-container" hidden="hidden">
                        <input type="text" id="token" name="token" th:value="${param.token}" required spellcheck="false">
                    </div>

                    <div class="password-toggle">
                        <i id="re-password-toggle-icon" class="far fa-eye-slash"></i>
                    </div>
                </div>

                <div th:if="${param.isMatch}">
                    <div class="invalid-password-or-username text-left pl-2">
                            Password doesn't match!
                    </div>
                </div>


                    <div id="password-requirements" class="password-requirements pl-2"></div>

                <script>
                    // JavaScript to clear the password field and focus on the email field
                    // document.getElementById("password").value = "";
                    document.getElementById("new_password").focus();
                </script>

                <div class="pb-3 pt-3">
                    <button type="submit" name="rest-submit" id="reset-submit" class="btn-modern" value="">Reset password</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/assets/vendor/bootstrap/js/reset-pass.js"></script>
<script src="/assets/vendor/bootstrap/js/requirements_check.js"></script>
</body>
</html>
