<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

<link rel="stylesheet" th:href="@{/assets/vendor/bootstrap/css/login.css}"/>
<head th:replace="/fragments/head :: head" ></head>

<body>
<div class="splash-container ">
    <div class="card">
        <div class="card-header text-center">
            <img class="logo-img" th:src="@{/images/cydeo-logo.svg}" height="45" alt="logo">
        </div>
        <div class="card-body ml-lg-3 mr-lg-3">

                <div class="invalid-password-or-username">
                    <div class="icon-text pb-2">
                        Forgot Your Password?
                    </div>
                </div>

            <form th:action="@{/login}" method="post">
                <div class="form-group custom-input-field pt-2" th:classappend="${param.error} ? 'error' : ''">
                    <input type="text" id="username" name="username" required spellcheck="false">
                    <label for="username">Email Address</label>
                </div>


                <div class="form-group custom-input-field pt-2" th:classappend="${param.error} ? 'error' : ''">
                    <div class="input-container">
                        <input type="password" id="password" name="password" required spellcheck="false">
                        <label for="password">Password</label>
                    </div>
                    <div class="password-toggle">
                        <i id="password-toggle-icon" class="far fa-eye-slash"></i>
                    </div>
                </div>


                <div class="form-group pl-1 d-flex justify-content-between align-items-center">
                    <label class="custom-control custom-checkbox">
                        <input class="custom-control-input" name="remember-me" type="checkbox">
                        <span class="custom-control-label remember-me">Remember Me</span>
                    </label>
                    <div th:if="${param.error}" class="reset-password pl-2">
                        <a href="/user/resetpassword">Forgot password?</a>
                    </div>
                </div>

                <div class="pb-3">
                    <button type="submit" name="login-submit" id="login-submit"
                            class="btn-modern" value="">Log In</button>
                </div>

            </form>
        </div>
    </div>
</div>
<script src="/assets/vendor/bootstrap/js/login-pass.js"></script>
</body>
</html>